@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 60 6.3% 6.3%;
    --card: 0 0% 100%;
    --card-foreground: 60 6.3% 6.3%;
    --popover: 0 0% 100%;
    --popover-foreground: 60 6.3% 6.3%;
    --primary: 49 88.2% 63.3%;
    --primary-foreground: 60 6.3% 6.3%;
    --secondary: 0 0% 95.3%;
    --secondary-foreground: 60 6.3% 6.3%;
    --muted: 0 0% 95.3%;
    --muted-foreground: 0 0% 38%;
    --accent: 49 88.2% 63.3%;
    --accent-foreground: 60 6.3% 6.3%;
    --destructive: 18 55.9% 46.3%;
    --destructive-foreground: 34 100% 96.9%;
    --border: 0 0% 86%;
    --input: 0 0% 86%;
    --ring: 48 86.5% 56.3%;
    --radius: 0.625rem;
    --chart-1: 49 88.2% 63.3%;
    --chart-2: 172 39% 39%;
    --chart-3: 210 18% 18%;
    --chart-4: 29 70% 58%;
    --chart-5: 104 29% 40%;
    --font-display:
      Spline Sans, Inter, ui-sans-serif, system-ui, sans-serif, Apple Color Emoji, Segoe UI Emoji,
      Segoe UI Symbol, Noto Color Emoji;
    --font-mono:
      ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, Liberation Mono, Courier New, monospace;
    --font-rounded: 'SF Pro Rounded', 'Hiragino Maru Gothic ProN', Meiryo, 'MS PGothic', sans-serif;
    --font-serif: Georgia, 'Times New Roman', serif;
  }

  .dark:root {
    --background: 60 6.7% 2.9%;
    --foreground: 45 40% 94.1%;
    --card: 60 7.3% 8%;
    --card-foreground: 45 40% 94.1%;
    --popover: 60 7.3% 8%;
    --popover-foreground: 45 40% 94.1%;
    --primary: 49 92.2% 64.9%;
    --primary-foreground: 60 6.3% 6.3%;
    --secondary: 60 6.1% 12.9%;
    --secondary-foreground: 45 40% 94.1%;
    --muted: 60 6.1% 12.9%;
    --muted-foreground: 38 11.7% 68%;
    --accent: 49 92.2% 64.9%;
    --accent-foreground: 60 6.3% 6.3%;
    --destructive: 19 69.4% 59%;
    --destructive-foreground: 34 100% 96.9%;
    --border: 52 7.5% 20.8%;
    --input: 52 7.5% 20.8%;
    --ring: 49 92.2% 64.9%;
    --chart-1: 49 92.2% 64.9%;
    --chart-2: 199 51% 59%;
    --chart-3: 280 39% 63%;
    --chart-4: 28 67% 56%;
    --chart-5: 157 38% 52%;
  }
}

html,
body {
  margin: 0;
  min-height: 100%;
}

body {
  font-family: var(--font-display);
}
